 
 <!-- Navbar starts here   -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="#">Company A</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Home</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:home' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:home' %}">Registration</a>
      </li>
      {% endif %}
    </ul>
 </div>
</nav>
<!-- navbar ends here -->