<form action="" method="POST">
    {% csrf_token %}
    <label for="">First Name</label>
    <input type="text" name="first_name">
    <label for="">Last Name</label>
    <input type="text" name="last_name">
    <label for="">Company Role</label>
    <input type="text" name="company_role">
    <label for="">Company Email</label>
    <input type="email" name="company_email">
    <label for="">Password</label>
    <input type="password" name="password1">
    <label for="">Please type your password again</label>
    <input type="password" name="password2">
    <button type="submit" name="signing_up">Sign up!</button>
</form>